* {
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0% 7%;
  font-family: sans-serif;
}

header .nav {
  height: 7vh;
  display: flex;
  justify-content: end;
}
header .nav .logo {
  height: 3vh;
  width: 3vh;
  margin-top: 1%;
  margin-right: 60%;
  border-radius: 50%;
  background: rgb(1, 251, 243);
  background: linear-gradient(90deg, rgb(1, 251, 243) 50%, rgb(0, 65, 255) 100%);
}
header .nav .sign-in, header .nav .sign-up {
  list-style: none;
  height: 2vh;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}
header .nav .sign-up {
  background-color: #000;
}
header .nav .btn {
  display: flex;
  align-items: center;
  margin-right: 10%;
}
header .nav .btn-1, header .nav .btn-2 {
  text-decoration: none;
}
header .nav .btn-1 {
  color: rgb(94, 94, 94);
}
header .nav .btn-2 {
  color: rgb(207, 207, 207);
}

.main {
  display: flex;
  width: 100% auto;
  flex-direction: column;
  text-align: center;
}
.main .section-1 {
  width: 100% auto;
  margin-top: 5%;
}
.main .section-1 .container-1 {
  width: 100%;
  height: auto;
}
.main .section-1 .container-1_content-1, .main .section-1 .container-1_content-2 {
  font-weight: 800;
  font-size: 350%;
}
.main .section-1 .container-1_content-2 {
  color: rgb(2, 184, 179);
  color: linear-gradient(90deg, rgb(2, 184, 179) 45%, rgba(0, 174, 246, 0.9893207283) 99%);
  line-height: 50px;
  margin-top: 1%;
}
.main .section-1 .container-1_content-3 {
  color: grey;
}
.main .section-1 .container-2 {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .section-1 .container-2 .start-btn, .main .section-1 .container-2 .learn-btn {
  border: 6px solid;
  text-decoration: none;
  height: 6vh;
  width: 16%;
  border-radius: 5px;
  font-weight: bold;
}
.main .section-1 .container-2 .start-btn {
  background: rgb(1, 251, 243);
  background: linear-gradient(90deg, rgb(1, 251, 243) 0%, rgb(0, 65, 255) 77%);
  margin-right: 3%;
  color: white;
}
.main .section-1 .container-2 .learn-btn {
  background: rgb(2, 184, 179);
  background: linear-gradient(90deg, rgb(2, 184, 179) 45%, rgba(0, 0, 0, 0.9893207283) 99%);
  color: white;
}
.main .section-1 .box-3 .img-1 {
  width: 50%;
}
.main .section-2 {
  margin-bottom: 3%;
}
.main .section-2 .container-3 {
  height: auto;
}
.main .section-2 .container-3_content {
  display: flex;
  margin-top: 5%;
  width: 100%;
}
.main .section-2 .container-3_content .container-4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  text-align: justify;
}
.main .section-2 .container-3_content .container-4_content {
  border: 2px solid rgb(219, 219, 219);
  padding: 3%;
  margin-top: 1.5%;
}
.main .section-2 .container-3_content .container-4_content .container-4_content:hover {
  background-color: rgba(206, 206, 206, 0.854);
}
.main .section-2 .container-3_content .span-1 .img-2 {
  width: 100%;
  height: 60%;
  size-adjust: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 15%;
}
.main .section-3 .container-5 {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 72%, rgb(255, 255, 255) 73%);
}
.main .section-3 .container-5 .grid-1, .main .section-3 .container-5 .grid-2 {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.main .section-3 .container-5 .grid-1 .card-1 .img-3, .main .section-3 .container-5 .grid-1 .card-2 .img-3, .main .section-3 .container-5 .grid-2 .card-1 .img-3, .main .section-3 .container-5 .grid-2 .card-2 .img-3 {
  margin-top: 5%;
  margin-bottom: 3%;
}
.main .section-3 .container-5 .grid-1 .card-1 .container-5_content, .main .section-3 .container-5 .grid-1 .card-2 .container-5_content, .main .section-3 .container-5 .grid-2 .card-1 .container-5_content, .main .section-3 .container-5 .grid-2 .card-2 .container-5_content {
  margin: 5% 5%;
}
.main .section-3 .container-5 .grid-1 .card-1 {
  margin-right: 1%;
  background-color: white;
  box-shadow: 3px 3px 5px grey;
}
.main .section-3 .container-5 .grid-2 .card-2 {
  margin-right: 1%;
  margin-bottom: 5%;
  background-color: white;
  box-shadow: 3px 3px 5px grey;
}
.main .section-4 .Trust {
  margin-top: 1%;
}
.main .section-4 .companies {
  display: flex;
  justify-content: space-evenly;
  color: rgb(133, 132, 132);
  font-size: large;
  font-weight: bold;
  margin: 3% 0%;
}
.main .section-4 .container-6 {
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
}
.main .section-4 .container-6 .container-6_content {
  border: 2px solid rgb(221, 220, 220);
  width: 70%;
  box-shadow: 3px 3px 5px grey;
}
.main .section-4 .container-6 .container-6_content .container-6_content p {
  margin-top: 2%;
}
.main .section-4 .container-6 .container-6_content .container-6_content h5 {
  margin-top: 3%;
}
.main .section-4 .container-6 .container-6_content .ceo {
  color: rgb(112, 110, 110);
  margin-bottom: 5%;
}
.main .section-4 .container-6 .container-6_content .ceo .link {
  text-decoration: none;
  color: rgb(36, 188, 248);
}
.main .section-5 {
  display: flex;
  text-align: left;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 31%, rgb(39, 35, 37) 51%);
  color: white;
}
.main .section-5 .container-7 {
  width: 100%;
  margin: 5% 0% 2% 3%;
}
.main .section-5 .container-7 .container-7_content {
  margin-top: 3%;
  color: rgb(168, 167, 167);
  margin-bottom: 4%;
}
.main .section-5 .container-7 .input .text {
  height: 3.5vh;
  width: 40%;
  padding-left: 1%;
  border-radius: 2%;
  border: 2px solid #000000;
}
.main .section-5 .container-7 .input .submit {
  height: 3.7vh;
  width: 25%;
  background: rgb(14, 187, 244);
  background: linear-gradient(90deg, rgb(14, 187, 244) 19%, rgb(29, 62, 72) 82%);
  border-radius: 3%;
  color: white;
  font-weight: bold;
}
.main .section-5 .design {
  display: flex;
  width: 100%;
  justify-content: end;
  opacity: 0.9;
}
.main .section-5 .design .img-5 {
  height: 100%;
  margin-right: 8%;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6%;
}
.footer .logo {
  height: 3vh;
  width: 3vh;
  margin-right: 60%;
  border-radius: 50%;
  background: rgb(1, 251, 243);
  background: linear-gradient(90deg, rgb(1, 251, 243) 50%, rgb(0, 65, 255) 100%);
}
.footer .footer_content {
  margin: 6% 0% 15% 0%;
}

section div h1 {
  margin-top: 4%;
}

@media screen and (max-width: 672px) {
  .container-1_content-1, .container-1_content-2 {
    font-size: 200% !important;
  }
}
@media screen and (max-width: 750px) {
  header .nav .btn .sign-in, header .nav .btn .sign-up {
    height: 2vh;
    width: 100px;
  }
  .main .section-1 .container-1 .container-2 .start-btn, .main .section-1 .container-1 .container-2 .learn-btn {
    width: 150px;
  }
  .main .section-2 .container-3_content {
    display: block;
  }
  .main .section-2 .container-3_content .container-4 {
    width: 100%;
  }
}
.footer .footer span {
  margin-left: 2%;
}

@media screen and (max-width: 477px) {
  .main .section-4 .companies {
    font-size: small;
  }
  .main .section-5 {
    display: block;
  }
  .main .section-5 .design .img-5 {
    display: none;
  }
  .footer {
    font-size: small;
  }
}
@media screen and (max-width: 375px) {
  .footer {
    font-size: xx-small;
  }
}/*# sourceMappingURL=style.css.map */